@media (max-width: 768px) {
  .About {
    height: auto; /* Allow height to adjust based on content */
    padding-top: 75px; /* Adjust padding for better spacing */
  }

  .textt {
    margin-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 13px !important; /* 10px with higher specificity */
    overflow: hidden;
  }

  .heading {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    top: 0;
  }
}